
.footer-container {
	background-color:#272727;
	padding-bottom: 1rem;
}

.footer {
	width: 90%;
	background-color:#272727;
	display: flex;
	
	justify-content: center;
	flex-wrap: wrap;
}

.footer-left {
		display: flex;
		margin-right: 4rem;
}

.footer-left a {
	color: #ffffff;
	display: flex;
	text-decoration: none;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 2rem;
}